/* Review CPT Styles */

.review-grid-item-wrapper {
  margin-bottom: 40px;
  background: transparent;
}
.review-grid-loading.review-grid-item-wrapper{
  background: #FFFFFF url(images/spinner.gif) center no-repeat;
}
.review-grid-item-wrapper .review-grid-inner {
    margin-left: -10px;
    margin-right: -10px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
}
.review-grid-item-inner {
    padding: 17px 20px;
    background: #eeeeee;
    margin: 10px;
}
.review-grid-loading.review-grid-item-wrapper .review-grid-inner {
  opacity: 0;
  visibility: visible;
}
.review-grid-item {
  float: left;
  width: 33.3333%;
}
.review-grid-item .rev-title {
    font-size: 24px;
    margin-bottom: 10px;
}
.rev-content {
    margin-top: 25px;
    position: relative;
    font-size: 18px;
}
span.rev-name  {
    font-size: 16px;
    font-weight: bold;
}
.review-grid-item .rev-content .rev-quote {
    font-size: 150px;
    font-family: Arial,sans-serif;
    position: absolute;
    color: #eee;
    z-index: -999;
    line-height: 0.6em;
    top: 0px;
    left: -20px;
}

@media screen and (max-width: 767px) {

.review-grid-item {
    float: none !important;
    width: 100% !important;
}

}

/* Review Slider styles */

.review-slider-item-wrapper{
  position: relative;
  text-align: center;
}
.review-slider-item-wrapper ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.review-slider-item-wrapper ol.flex-control-nav {
  display: block;
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 35px 0 0;
}
.review-slider-item-wrapper ol.flex-control-nav li {
  list-style: none;
  display: inline-block;
  margin: 0 3px;
}
.review-slider-item-wrapper ol.flex-control-nav li a {
    font-size: 0;
    display: block;
    width: 13px;
    height: 13px;
    background: #ececec;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.3s;
    border: solid 2px #ffffff;
}
.review-slider-item-wrapper ol.flex-control-nav li a.flex-active {
    cursor: default;
    background: #828282;
    border: solid 2px #828282;
}
.review-slider-item-wrapper ul.flex-direction-nav {
	display: none;
}
.review-slider-item-wrapper ul.flex-direction-nav li a {
    display: inline-block;
    text-align: center;
    width: 24px;
    height: 24px;
    line-height: 20px;
    border: solid 2px #707070;
    border-radius: 50%;
    transition: all 0.3s;
    color: #707070;
}
.review-slider-item-wrapper ul.flex-direction-nav li a:hover {
    color: #f8c30d;
    border: solid 2px #f8c30d;
}
.review-slider-item-wrapper ul.flex-direction-nav li a:before{
  font-family: FontAwesome;
  font-size: 20px;
}
.review-slider-item-wrapper ul.flex-direction-nav li a.flex-prev{
  left: 0;
}
.review-slider-item-wrapper ul.flex-direction-nav li a.flex-next {
    right: 0;
    margin-left: 20px;
}
.review-slider-item-wrapper ul.flex-direction-nav li a.flex-prev:before{
	content:"\f0d9";
	margin-right: 2px;
}
.review-slider-item-wrapper ul.flex-direction-nav li a.flex-next:before {
    content: "\f0da";
    margin-left: 2px;
}
.review-slider-item-wrapper ul.flex-direction-nav li a.flex-disabled {
  opacity: 0.5;
  cursor: default;
}
.review-slider-item-wrapper.rs-loading{
  height: 100px;
  overflow: hidden;
  background: url(images/spinner.gif) center no-repeat;
}
.review-slider-item-wrapper.rs-loading *{
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
h5.rev-blurb {
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 26px;
    color: #9c9c9c;
}
.rev-ratings {
    display: block;
    margin: 20px 0px;
}
.rev-ratings .fa {
    font-size: 24px;
    margin-right: 5px;
    color: #f3bf03;
}
span.rev-name {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color: #f3bf03;
    margin-bottom: 0px;
}
span.rev-company {
    font-style: italic;
    color: #000000;
    margin-top: 3px;
    font-size: 14px;
    font-weight: 500;
}
span.rev-name, span.rev-position, span.rev-company {
    display: block;
    line-height: 1.3;
}
span.rev-position {
    line-height: 1;
    margin-bottom: -2px;
}
.review-slider-item-wrapper ul.flex-direction-nav li {
	display: inline-block;
}
img.attachment-review-thumb {
    border-radius: 50% !important;
    margin-bottom: 0px;
    border: solid 2px #000000 !important;
}

.rev-source span {
    font-size: 15px;
}
.rev-source span.tripadvisor i {
    color: #34e0a1;
    margin-right: 5px;
    font-size: 20px;
}
.rev-source span.tripadvisor {
    color: #34e0a1;	
}
.rev-source span.facebook {
    color: #4267b2;	
}
.rev-source span.facebook i {
    color: #4267b2;
    margin-right: 5px;
    font-size: 20px;
}
.rev-source span.google {
    color: #adb5bd;	
}
.rev-source span.google i {
    color: #adb5bd;
    margin-right: 5px;
    font-size: 20px;
}
.rev-source  span i {
    font-family: FontAwesome;
}